
<!-- As a link -->
<div class="card">
  <div class="card-body">
    <!-- Nested Row within Card Body -->
    <div style="margin-top: 30px;">
      <div class="text-center">
        <img
          src="{{ urlimg }}"
          class="rounded-circle"
          alt="user"
          style="width: auto; height: 150px;background-color: transparent;"
        />
        <div class="text-center">
          <h1>{{ nameline }}</h1>
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-top: 30px;">
      <h1 class="h4 txt_header mb-4">ตารางนัดหมาย</h1>
    </div>


    <div class="row justify-content-md-center">
      <div *ngFor="let group of data">
        <div class="col-xs-6 col-sm-12 text-center">
          <div class="card mb-4" style="border-radius: 50px;">
            <div class="card-header"
              style="border-radius: 50px;">
              <br>
              <h6 class="font-weight-bold text-dark text-center">
                <span class="font-weight-bold">{{ group.DoctorLocalName }} TEST</span><br>
                <span class="font-weight-bold">{{ group.ClinicLocalName }} TEST</span>
              </h6>
            </div>
            <span class="font-weight-bold text-dark">วันเวลานัดหมาย</span><span
              class="font-weight-bold">{{ group.AppointDateTimeFromShow }} TEST<span
              class="font-weight-bold text-dark">เวลา </span>TEST
              {{
                group.AppointDateTimeFrom | date: 'HH:mm'
              }} น.
            </span> 
          </div>
        </div>
      </div>
    
        <div class="col-xs-6 col-sm-12 text-center">
          <div class="card mb-4" style="border-radius: 50px;">
            <div class="card-header"
              style="border-radius: 50px;">
              <br>
              <h6 class="font-weight-bold text-dark text-center">
                <span class="font-weight-bold">Dr. TEST TEST</span><br>
                <span class="font-weight-bold">คลินิกทั่วไป</span>
              </h6>
            </div>
            <span class="font-weight-bold text-dark">วันเวลานัดหมาย</span><span
              class="font-weight-bold"> 02-05-2566&nbsp; <span
              class="font-weight-bold text-dark">เวลา </span>
              09.00 น.
            </span> 
          </div>
        </div>
        <div class="col-xs-6 col-sm-12 text-center">
          <div class="card mb-4" style="border-radius: 50px;">
            <div class="card-header"
              style="border-radius: 50px;">
              <br>
              <h6 class="font-weight-bold text-dark text-center">
                <span class="font-weight-bold">Dr. TEST TEST</span><br>
                <span class="font-weight-bold">คลินิกทั่วไป</span>
              </h6>
            </div>
            <span class="font-weight-bold text-dark">วันเวลานัดหมาย</span><span
              class="font-weight-bold"> 31-05-2566&nbsp; <span
              class="font-weight-bold text-dark">เวลา </span>
              09.00 น.
            </span> 
          </div>
        </div>
      
    </div>
  </div>
</div>
<div class="text-center center_margin_btn">
  <button
    type="button"
    class="btn btn-secondary btn-lg btn_logout"
    (click)="onlogout($event)"
  >
    <span class="text-white"
      ><i
        class="fas fa-sign-out-alt fa-1x text-white fw-bold text-center"
      ></i>
      Log&nbsp;out</span
    >
  </button>
</div>
