/* Global Styles */

@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
  width: 100%;
  margin: 0 auto;
  background-color: #35405e;
  border-radius: 0px 0px 50px 50px;
  padding: 5px 5px 5px 5px;
}
.header_left_logo {
  display: inline-block;
  height: 80px;
  vertical-align: middle;
}
#header_logo {
  height: 100%;
}
.hero-list {
  background-color: green;
  height: 100%;
  overflow: auto;
}
.card_header {
  border-radius: 50px 50px 0px 0px;
}

body {
  background-image: url('https://cdn.jsdelivr.net/gh/Dev01-logic/angular-pnklineliff-devlogic@main/src/assets/img/19366.jpg');
}
.txt_header{
  display: inline-block;
  height: 80px;
  vertical-align: middle;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
