<div class="content">
  <div class="header">
    <div class="header_left_logo">
      <img
        id="header_logo"
        src="https://dev-logic.net/dxapi/img/pnk/kiosk_hos_400.png"
      />
    </div>
  </div>
</div>
<!-- As a link -->
<div class="card o-hidden border-0 shadow-lg card_radius my-2">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-12">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h1 txt_header mb-4">Smart Connect</h1>
          </div>
          <div class="col ms-6 mb-2 text-center">
            <img
              src="https://dev-logic.net/dxapi/img/pnk/pnk_rh_menu_line_Connect.png"
              class="rounded-circle rounded_circle_img"
              alt="Hospital"
            />
          </div>

          <div class="text-center center_margin_btn">
            <button
              type="button"
              class="btn btn-light btn-lg btn_login"
              (click)="onClick($event)"
            >
              <span class="text-white"
                ><i class="fab fa-line fa-1x text-center"></i>LINE Login</span
              >
            </button>
          </div>
          <div class="container">
            <div class="text-center">
              <div class="text-center"><small>Ver&nbsp;1.0.7 ZINC</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
