
<div class="container center_margin">
  <div class="text-center" style="padding-bottom:30px">
    <h1>Sign Up</h1>
  </div>
  <div class="text-center">
    <img
      src="{{ urlimg }}"
      class="rounded-circle"
      alt="Hospital"
      style="width: auto; height: 150px;background-color: transparent;"
    />
    <div class="dtext-center">
      <h1>{{ nameline }}</h1>
    </div>
  </div>
<br>

  <div
    class="d-flex align-items-center justify-content-center"
    style="padding-bottom:30px"
  >
    <div class="container center_margin">
      <form
        [formGroup]="userprofileForm"
        (ngSubmit)="onSubmit()"
        class="form-horizontal"
      >
        <div class="form-group" style="padding-bottom:30px">
          <label class="form-label fw-bold" for="txt_idcard"
            >บัตรประจำตัวประชาชน / ID Card</label
          >
          <input
            type="text" (keypress)="numberOnly($event)"
            formControlName="pid"
            class="form-control"
            id="txt_idcard" maxlength="13"
            aria-describedby="IDCard"
            placeholder="บัตรประจำตัวประชาชน / ID Card"
            style="border-radius: 50px;"
          />
        </div>
        <div class="form-group" style="padding-bottom:30px">
          <label class="form-label fw-bold" for="txt_phone">เบอร์โทรศัพท์ / Telephone</label>
          <input
            type="text" (keypress)="numberOnly($event)"
            formControlName="tel"
            class="form-control"
            id="txt_phone" maxlength="10"
            placeholder="เบอร์โทรศัพท์ / Telephone"
            style="border-radius: 50px;"
          />
        </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <small id="emailHelp" class="form-text text-dark">
             <span class="text-danger fw-bold">*หมายเหตุ </span>
             กรุณาระบุหมายเลขบัตรประชาชน และหมายเลขโทรศัพท์
              ที่ลงทะเบียนไว้กับทางโรงพยาบาล</small
            >
          </label>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <button
            class="btn btn-primary btn-lg btn_sign_up"
            type="submit"
            [disabled]="!userprofileForm.valid"
          >
            <i class="fas fa-sign-in-alt fa-1x fw-bold"></i> Sign Up
          </button>
        </div>
      </form>

      <div class="text-center center_margin">
        <button
          type="button"
          class="btn btn-secondary btn-lg btn_sign_out"
          (click)="onlogout($event)"
        >
          <span class="text-white"
            ><i class="fas fa-sign-out-alt fa-1x text-white fw-bold text-center"></i
            > Log out</span
          >
        </button>
      </div>
    </div>
  </div>
</div>
